.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      h1
        a(href='/' title='Residential properties sold in the last 3 years for more than $1M')
          svg(id='svgnavlogo' class='svgnavlogo' width='92px', height='92px', viewbox='0 0 92 92', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
            g#spaceneedle(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
              g(id='space_needle', sketch:type='MSLayerGroup', fill='#F04155')
                g#noun_50592_cc(transform='translate(33.000000, 0.000000)', sketch:type='MSShapeGroup')
                  path#Shape(d='M22.768,14.047 C25.017,11.808 11.98,12.217 16.379,10.478 C20.018,9.028 15.299,7.649 13.57,7.219 L13.57,7.059 C13.57,3.65 13.32,0.89 13.02,0.78 C13.01,0.77 13.01,0.77 13,0.77 C12.69,0.77 12.43,3.579 12.43,7.059 L12.43,7.219 C10.7,7.649 5.981,9.029 9.621,10.478 C14.02,12.218 0.983,11.808 3.232,14.047 C3.232,14.047 -4.406,15.537 4.222,16.696 C4.222,16.696 -1.747,18.696 7.541,19.685 C7.541,19.685 9.371,32.142 9.371,33.132 L9.371,50.688 L9.371,51.058 L9.281,51.778 L4.562,91.23 L21.438,91.23 L16.719,51.779 L16.629,51.059 L16.629,50.689 L16.629,33.133 C16.629,32.143 18.459,19.686 18.459,19.686 C27.747,18.696 21.778,16.697 21.778,16.697 C30.406,15.537 22.768,14.047 22.768,14.047 L22.768,14.047 Z M9.091,19.886 L10.961,19.966 L10.921,32.543 L9.091,19.886 L9.091,19.886 Z M10.94,88.77 L7.211,88.77 L8.451,79.812 L10.94,79.812 L10.94,88.77 L10.94,88.77 Z M10.89,72.244 L9.02,72.284 L10.99,51.669 L10.89,72.244 L10.89,72.244 Z M18.909,88.77 L15.18,88.77 L15.18,79.812 L17.669,79.812 L18.909,88.77 L18.909,88.77 Z M16.909,72.284 L15.039,72.244 L15.069,51.659 L16.909,72.284 L16.909,72.284 Z M15.01,32.533 L15.1,19.956 L16.97,19.896 L15.01,32.533 L15.01,32.533 Z')
          | King County Cribs || Residences Sold in the last 3 years for over $1M
    ul
      li
        a.pull-right(href='/contact') About
