extends layout

block content
  #map

  #sidebar.collapsed
    #sidebar-close
      span &times;
    #featured-image
    #property-summary
    #property-specs

  #stats-bar
    span#stats-label Loading sales data&hellip;
